<!DOCTYPE html>
<html lang="en">

<head>
    <title>Resume - Howard Chen</title>
    <meta name="description" content="Howard Chen's Resume, Ready for Hiring.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Resume/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Resume/public/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/Resume/public/js/vue.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <section id="profile">
            <center>
                <div class="profile"></div>

                <head>
                    <h1>{{appData.title}} <span class="version">- <a href="index-cn.htm">中文</a></span></h1>
                </head>
                <div>{{appData.description}}</div>
                <div class="secondary">{{appData.currentPosition}}</div>
                <div class="secondary">{{appData.basicInfo}}</div>
            </center>
        </section>

        <ul>
            <li v-for="content in appData.experiences" class="content-container">
                <section v-if="content.type === 'work'">
                    <header>
                        <h3>{{content.title}}</h3>
                    </header>
                    <div v-if="content.description" v-html="content.description"></div>
                    
                    <div class="row" v-for="work in content.details">
                        <div style="float:left; margin-right: 5px;" v-if="work.logo"><img v-bind:src="work.logo" /></div>
                        <div>
                            <h5 v-if="work.url"><a v-bind:href="work.url" target="_blank">{{work.name}}</a></h5>
                            <h5 v-else>{{work.name}}</h5>
                            <div v-if="work.summary">{{work.summary}} ({{work.date}})</div>
                            <div v-if="work.work">{{work.work}}</div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="/Resume/public/js/main.min.js"></script>
    <script type="text/javascript" src="/Resume/public/js/main.cn.min.js"></script>
    <script type="text/javascript">
        var isEnglish = true;
        var app = new Vue({
            el: '#app',
            data: { appData: isEnglish ? appData : appDataCn }
        });
    </script>
</body>

</html>