body {
    margin-top: 20px;
}

#profile center div {
    line-height: 30px;
}

#profile center div.secondary {
    color: #a0a0a0;
}

.profile {
    background-image: url(/public/img/profile.jpg);
    background-size: cover;
    width: 200px;
    height: 150px;
}

li.content-container {
    margin: 25px;
    list-style: none;
}

li.content-container section div.row {
    margin-top: 15px;
    margin-left: 2px;
}

span.version {
    font-size: small;
    font-weight: normal;
    line-height: 36px;
    vertical-align: middle;
}